<div class="forgot-password-container">
    <div class="forgot-password-card">
        <h2>Forgot Password</h2>
        <div class="p-field p-grid">
            <form action="" [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
                    <p-floatlabel variant="on">
                        <input pInputText [fluid]="true"
                            type="email" id="email" 
                            formControlName="email" name="email" required>
                        <label for="email">Email</label>
                    </p-floatlabel>
                <button [loading]="loading" pButton style="margin-top: 25px" type="submit" label="Şifre sıfırlama bağlantısını gönder"
                    class="p-button-raised p-button-primary" [disabled]="!passwordResetForm.valid"></button>
            </form>
        </div>
    </div>
    <p-toast></p-toast>
</div>