<div class="blog-section">
    <h2 class="blog-header">
      {{ getTranslation('blog.title') }}
    </h2>
    <div class="blog-container">
      <!-- Blog 1 -->
      <div *ngFor="let blog of blogs" class="blog-card">
        <img src="images/blogs/{{getImageName(blog, currentLanguage)}}" 
          alt="{{getImageAlt(blog, currentLanguage.code)}}" class="blog-image" />
        <h3 class="blog-title">
          {{ getTitle(blog, currentLanguage) }}
        </h3>
        <p class="blog-snippet">
          {{ getExcerpt(blog, currentLanguage) }}
        </p>
        <a href="{{currentLanguage.code}}/{{navbarMenu.blogs.slug[currentLanguage.code]}}/{{getSlug(blog, currentLanguage)}}/" 
        class="read-more" 
        >
        {{ blog.readMore[currentLanguage.code] }}
      
      </a>
      </div>
  
    </div>
  </div>
  