<div #transferPricesContainer  class="airport-button-group">
  <p-button 
  severity="secondary"
  *ngFor="let mainLocation of mainLocations"
  [label]="mainLocation.short[languageService.currentLang().code]"
  (click)="showTransferPrices(mainLocation)"
  [styleClass]="selectedLocation === mainLocation ? 'p-button-raised p-button-success  active-airport-button' : ''"
  
  ></p-button>
  
</div>

<div *ngIf="selectedLocation" class="transfer-prices">
  <h2 class="transfer-prices-title">{{getTranslation('transfer_prices')}} - {{ selectedLocation[languageService.currentLang().code] }}</h2>
  <div class="price-list">
    @for( carType of carTypeService.getCarTypes(); track carType.code){
      @let carTypePopularRoutes = popularRouteService.getPopularRoutesByMainLocationCodeAndCarType(selectedLocation.code!, carType.code!);
      @if (carTypePopularRoutes.length > 0) {
      <div class="car-section">
        <div class="car-image-and-title">
          
          <img src="images/cartypes/{{ carType.image.name[languageService.currentLang().code] }}"
            alt="{{ carType.image.alt[languageService.currentLang().code] }}"
              class="car-image"
              style="width: 100%;"
              />
          <h2 class="car-title">{{carType.name}}
            <br>
            <span class="icon">
              <i class="pi pi-user">
              <img src="images/icons/user.svg" alt="user" style="width: 1rem; height: 1rem;">
              {{carType.pax}},
            </i>
            </span>
            <span>
              {{getTranslation('or_equivalent')}}
            </span>
          </h2>

        </div>
        <div class="car-routes">
          <ul class="route-list">
        @for (popularRoute of carTypePopularRoutes; track popularRoute.id){
          @let currency_code = currencyService.currentCurrency().code!;
          @let price = priceCalculatorService.getRoundedPrice(
            popularRoute.euro_price!,
            currency_code,
            currencyService.currentCurrency().rate!
            );
              <li>
                <span class="routes-info">
                  <div class="airport-name">
                    {{selectedLocation[languageService.currentLang().code]}}
                    <!-- <span class="arrow">→</span> -->
                  </div>
                  <div class="destination-name">
                    {{popularRoute.destination}}
                  </div>
                </span>

                <span class="price">
                  {{ price }}
                  {{ currency_code }}
                </span>
                <button class="btn-book" (click)="bookRoute(
                  selectedLocation.name!,
                  popularRoute.destination!,
                  popularRoute.car_type!,
                  price,
                  currency_code)"
                  >
                  {{getTranslation('book_now')}}
                </button>
              </li>
            }
          </ul>
        </div>
      </div>
    }

    }
  </div>
</div>