.price-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .car-section {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 320px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .car-image {
    width: 100%;
    height: auto;
  }
  
  .car-title {
    font-size: 1.8em;
    margin: 10px 0;
    color: #333;
  }

  .car-title span {
    font-size: 0.85rem; /* Smaller font size for "or equivalent" */
    font-weight: normal; /* Regular weight to make it less prominent */
    color: #777; /* Lighter grey to visually differentiate */
    margin-left: 5px; /* Add some spacing from the main title */
    display: inline-block; /* Ensures it flows with the main title */
    vertical-align: middle; /* Aligns well with the text baseline */
  }
  
  .route-header {
    font-size: 1.2em;
    margin: 10px 0;
    color: #007bff;
  }
  
  .route-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  // .route-list hover
  .route-list li:hover {
    background-color: #e3e2e2;
  }
  
  .route-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
  }
  
  .route-list li:last-child {
    border-bottom: none;
  }
  
  .routes-info {
    font-weight: bold;
    color: #555;
  }

  .airport-name {
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .destination-name {
    font-weight: bold;
    font-size: 1.5em;
    color: #5d5a5a;
    display: flex;
    align-items: start;
  }
  
  .price {
    font-size: 1.2em;
    color: #28a745;
    margin-left: auto;
  }
  
  .btn-book {
    padding: 6px 12px;
    font-size: 0.9em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
  }
  
  .btn-book:hover {
    background-color: #0056b3;
  }
  
  .arrow {
    // margin: 0 10px;
    font-size: 1.5em;
    color: #007bff;
  }

  // .tabs-container .p-tab-list-tab-list {
  //   display: flex;
  //   justify-content: center; /* Centers the tabs horizontally */
  //   align-items: center; /* Centers the tabs vertically if necessary */
  //   // flex-wrap: wrap; /* Ensures tabs wrap to the next line on small screens */
  //   // padding: 10px; /* Optional: Add padding for better spacing */
  // }
  
  // .tabs-container p-tablist {
  //   display: flex; /* Ensures tabs are in a row */
  //   justify-content: center; /* Centers the tabs */
  //   gap: 10px; /* Add spacing between tabs */
  //   flex-wrap: wrap; /* Allow tabs to wrap on smaller screens */
  // }

  .airport-button-group {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    flex-wrap: wrap;
    gap: 12px; /* Increased gap for better spacing */
    margin-top: 5px;
    margin-bottom: 5px; /* Increased margin */
  }
  
  :host ::ng-deep .airport-button-group .p-button {
    padding: 5px 15px; /* Increased padding for larger buttons */
    font-size: 1.2rem;
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  :host ::ng-deep .active-airport-button {
    background-color: #28a745 !important;
    color: white !important;
    font-weight: 900 !important;
  }

  .transfer-prices-title {
    font-size: 1.8rem;
    margin-bottom: 5px;
    color: #333;
    text-align: center;
  }

  // For mobile
  @media (max-width: 768px) {
    .airport-button-group {
      gap: 7px; /* Increased gap for better spacing */
      margin-top: 2px;
      margin-bottom: 2px; /* Increased margin */
    }

    :host ::ng-deep .airport-button-group .p-button {
      font-size: 1rem;
      transition: background-color 0.3s ease; /* Smooth transition */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    }

    .price-list {
      gap: 20px;
      padding: 5px;
    }
      
  .car-section {
    width: 100%;
    max-width: 400px;
  }
  
  }