<header class="upper-header">
    <div class="container">

        <!-- Contact Info -->
        <div class="contact-info">
            <a href="https://wa.me/99365493616" aria-label="Contact us on WhatsApp" target="_blank" rel="noopener">
                <img [src]="'social_icons/whatsapp.svg'" style="max-height: 30px;"/> 
                +90 555 555 5555
            </a>
            <a href="https://t.me/amanmyrats" aria-label="Contact us on Telegram" target="_blank" rel="noopener">
                <img [src]="'social_icons/telegram.svg'" style="max-height: 30px;"/> 
                +90 555 555 5555
            </a>
        </div>

        <!-- Social Media Links -->
        <div class="social-media">
            <a href="https://facebook.com/yourpage" title="Follow us on Facebook" target="_blank" rel="noopener">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://instagram.com/yourpage" title="Follow us on Instagram" target="_blank" rel="noopener">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/yourpage" title="Follow us on Twitter" target="_blank" rel="noopener">
                <i class="fab fa-twitter"></i>
            </a>
        </div>

        <div class="social-media">
            <div class="language-fallback">
                <span>English</span>
              </div>
              <!-- <ng-container *ngIf="isClient"> -->

                  <app-language-selection></app-language-selection>
                <!-- </ng-container> -->
            <!-- <app-currency-selection></app-currency-selection> -->
        </div>

    </div>
</header>