.payments-wrapper {
  display: grid;
  gap: 1rem;

  header {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
    }

    .filters {
      display: flex;
      gap: 0.75rem;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}
