<form class="reservation-form" (ngSubmit)="onSubmit()" 
    [formGroup]="bookingService.bookingInitialForm">
    <div class="form-group"> 
    <label for="pickup-location" i18n="@@form.pickup">
        {{ translations.pickUp[langInput.code] }}
    </label>
    <input type="text" id="pickup-location" formControlName="pickup_full" 
        placeholder="{{ translations.pickUpPlaceHolder[langInput.code] }}" 
    appGmapsAutocomplete
    (placeChanged)="onPickupPlaceChanged($event)" 
    (keydown)="preventFormSubmit($event)"
    />
    </div>
    <div class="form-group">
    <label for="dropoff-location" i18n="@@form.dropoff">
        {{ translations.dropOff[langInput.code] }}
    </label>
    <input type="text" id="dropoff-location" formControlName="dest_full" 
        placeholder="{{ translations.dropOffPlaceHolder[langInput.code] }}" 
    appGmapsAutocomplete
    (placeChanged)="onDestPlaceChanged($event)" 
    (keydown)="preventFormSubmit($event)"/>
    </div>
    <!-- <div class="form-group">
    <label for="pickup-date" i18n="@@form.date">Pickup Date</label>
    <input type="date" id="pickup-date" name="pickup-date" />
    </div>
    <div class="form-group">
    <label for="pickup-time" i18n="@@form.time">Pickup Time</label>
    <input type="time" id="pickup-time" name="pickup-time" />
    </div> -->
    <button pButton [loading]="isBookNowLoading" (click)="onSubmit()" type="submit" class="btn btn-primary" i18n="@@form.submit">
        {{ translations.bookNow[langInput.code] }}
    </button>

    <!-- <div class="contact-section">
        <p class="contact-message">
            {{ translations.orWriteToUs[languageService.currentLang().code] }}
        </p>
        <ul class="contact-list">
            <li>
                <a href="{{ socialIcons.whatsapp.url }}" target="_blank">
                <img [src]="'images/socialicons/' + socialIcons.whatsapp.image.name[languageService.currentLang().code]" 
                [alt]="socialIcons.whatsapp.image.alt[languageService.currentLang().code]" 
                style="max-height: 20px; width: 20px; height: 20px;"/> 
                    {{ socialIcons.whatsapp.phone }}
                </a>
            </li>
            <li>
                <a href="{{ socialIcons.telegram.url }}" target="_blank">
                    <img [src]="'images/socialicons/' + socialIcons.telegram.image.name[languageService.currentLang().code]" 
                    [alt]="socialIcons.telegram.image.alt[languageService.currentLang().code]" 
                    style="max-height: 20px; width: 20px; height: 20px;"/> 
                    &#64;{{ socialIcons.telegram.username }}
                </a>
            </li> -->
            <!-- <li>
                <a href="mailto:info&#64;example.com">
                    <img [src]="'images/socialicons/' + socialIcons.email.image.name[languageService.currentLang().code]" 
                    [alt]="socialIcons.email.image.alt[languageService.currentLang().code]" 
                    style="max-height: 20px; width: 20px; height: 20px;"/> 
                    info&#64;example.com
                </a>
            </li> -->
            <!-- <li>
                <a href="tel:+123456789">
                    <img [src]="'images/socialicons/' + socialIcons.phone.image.name[languageService.currentLang().code]" 
                    [alt]="socialIcons.phone.image.alt[languageService.currentLang().code]" 
                    style="max-height: 20px; width: 20px; height: 20px;"/> 
                    +123 456 789
                </a>
            </li> -->
        <!-- </ul> -->
    <!-- </div> -->
</form>