<section class="car-type-selection">
  <!-- Title Section -->
  <div class="title-section">
    <h1>
      {{ translations.cars[langInput.code] }}
    </h1>
    <div class="route-info">
      <span class="from">{{ bookingService.bookingInitialForm.value.pickup_full }}</span>
      <span class="arrow">→</span>
      <span class="to">{{ bookingService.bookingInitialForm.value.dest_full }}</span>
    </div>
    <div class="distance-info">
      <span>
      {{ translations.distance[langInput.code] }}
      : 
      {{ this.bookingService.bookingCarTypeSelectionForm.value.distance | number: '1.0-0' }} km
        ({{ this.bookingService.bookingCarTypeSelectionForm.value.driving_duration | number: '1.0-0' }} mins)
      </span>
    </div>
  </div>

  <!-- Vehicle List -->
  <div class="car-type-list">

    <!-- Distance Validation -->
    <div *ngIf="!isValidDistance()" class="contact-section">
      <h2>{{ translations.contact[langInput.code] }}</h2>
      <p>{{ translations.invalidDistanceMessage[langInput.code] }}</p>
      <div class="contact-options">
        <p>WhatsApp: <a href="{{ socialIcons.whatsapp.url }}" target="_blank">{{ socialIcons.phone.formatted }}</a></p>
        <p>Telegram: <a href="{{ socialIcons.telegram.url }}" target="_blank">&#64;{{ socialIcons.telegram.username }}</a></p>
        <!-- <p>Email: <a href="mailto:info@724supertransfers.com">info&#64;724supertransfers.com</a></p> -->
        <!-- <p>Phone: <a href="tel:+123456789">{{ socialIcons.phone.formatted }}</a></p> -->
      </div>
    </div>

    <!-- Special Price Section -->
    <div *ngIf="isLongDistance()" class="contact-section">
      <h2>{{ translations.specialPrice[langInput.code] }}</h2>
      <p>{{ translations.longDistanceMessage[langInput.code] }}</p>
      <div class="contact-options">
        <p>WhatsApp: <a href="{{ socialIcons.whatsapp.url }}" target="_blank">{{ socialIcons.phone.formatted }}</a></p>
        <p>Telegram: <a href="{{ socialIcons.telegram.url }}" target="_blank">&#64;{{ socialIcons.telegram.username }}</a></p>
        <!-- <p>Email: <a href="mailto:info@724supertransfers.com">info&#64;724supertransfers.com</a></p> -->
        <!-- <p>Phone: <a href="tel:+123456789">{{ socialIcons.phone.formatted }}</a></p> -->
      </div>
    </div>

    <!-- Vehicle Item -->
    <div *ngIf="isValidDistance() && !isLongDistance()" class="car-type-list">
      <div class="car-type-card" *ngFor="let carType of calculatedPrices()">
        <img [src]="'images/cartypes/' + carType.image.name[languageService.currentLang().code]" 
          [alt]="carType.image.alt[languageService.currentLang().code]" class="car-type-image" />
        <div class="car-type-info">
          <h2 class="car-type-name">{{ carType.name }}</h2>
          @if ( carType.specialPrice ) {
            <h4>{{ translations.specialPrice[langInput.code] }}</h4>
            <div class="contact-options">
              <p>WhatsApp: <a href="{{ socialIcons.whatsapp.url }}" target="_blank">{{ socialIcons.phone.formatted }}</a></p>
              <p>Telegram: <a href="{{ socialIcons.telegram.url }}" target="_blank">&#64;{{ socialIcons.telegram.username }}</a></p>
              <p>Email: <a href="mailto:{{ socialIcons.email.info }}">{{ socialIcons.email.info                                      }}</a></p>
              <!-- <p>Phone: <a href="tel:+123456789">{{ socialIcons.phone.formatted }}</a></p> -->
            </div>
          } @else {
              <p class="car-type-price">

              {{ translations.price[langInput.code] }}
              : 
              <span>{{ carType.price }} {{ this.currencyService.currentCurrency().sign }}</span>
            </p>
            <button class="select-button" (click)="onCarTypeSelection(
              carType, 
              carType.price,
              this.currencyService.currentCurrency().code!, 
              this.bookingService.bookingCarTypeSelectionForm.value.distance)">
            {{ translations.select[langInput.code] }}
          </button>
            }
        </div>
      </div>
    </div>
  </div>
</section>

<h3 style="width: 100%; text-align: center; color: rgb(147, 66, 223); margin-top: 50px;">
  {{ translations.fixedPrices[langInput.code] }}
</h3>
<app-price-list [langInput]="langInput"></app-price-list>
