<div style="min-width: 300px;max-width: 500px;margin: auto;">

<!-- <p-panel header="Change Password"> -->
    <form [formGroup]="passwordForm" (ngSubmit)="submitForm()">
      <div class="p-grid p-fluid">
        <div class="p-col-12">
          <p-floatlabel variant="on">
            <p-password [feedback]="false" [toggleMask]="true" id="currentPassword" 
            formControlName="old_password" />
            <label for="currentPassword">Şimdiki Şifre</label>
          </p-floatlabel>
          <span class="error-message" *ngIf="passwordForm.get('old_password')?.errors?.['required'] && passwordForm.get('old_password')?.touched" class="p-error">
            Şimdiki Şifre zorunludur
          </span>
        </div>
        <div class="p-col-12">
          <p-floatlabel variant="on">
            <p-password [feedback]="false" [toggleMask]="true" id="newPassword" 
            formControlName="new_password" />
            <label for="newPassword">Yeni Şifre</label>
          </p-floatlabel>
          <span class="error-message" *ngIf="passwordForm.get('new_password')?.errors?.['required'] && passwordForm.get('new_password')?.touched" class="p-error">
            Yeni Şifre zorunludur
          </span>
        </div>

        <div class="p-col-12">
          <p-floatlabel variant="on">
            <p-password [feedback]="false" [toggleMask]="true" id="confirmPassword" 
            formControlName="confirm_password" />
            <label for="confirmPassword">Yeni Şifreyi Onaylayınız</label>
          </p-floatlabel>
          <span class="error-message" *ngIf="passwordForm.get('confirm_password')?.errors?.['required'] && passwordForm.get('confirm_password')?.touched" class="p-error">
            Şifre onaylama zorunludur.
          </span>
          <span class="error-message" *ngIf="passwordForm.get('confirm_password')?.errors?.['passwordMismatch']" class="p-error">
            Şifreler eşleşmiyor!
          </span>
        </div>

        <!-- write minlength error here -->
        <div class="p-col-12">
          <span class="error-message" *ngIf="passwordForm.get('new_password')?.errors?.['minlength']" class="p-error">
            Password must be at least 6 characters long.
          </span> 
        </div>

        <div class="p-col-12">
          <button type="submit" pButton label="Change Password" [disabled]="passwordForm.invalid"></button>
        </div>
      </div>
    </form>
  <!-- </p-panel> -->
</div>
  