  <nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a href="/">
        <img src="images/logos/{{getTranslation('logo.name') }}" 
        alt="{{ getTranslation('logo.alt') }}" class="logo" />
      </a>
    </div>
    <div class="hamburger-menu" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="navbar-menu" [class.open]="menuOpen">
      <li><a href="{{currentLanguage.code}}/">
        {{ getTranslation('home') }}
      </a></li>
      <li><a href="{{currentLanguage.code}}/prices">
        {{ getTranslation('prices') }}
      </a></li>
      <li><a href="{{currentLanguage.code}}/booking" class="book-now-button">
        {{ getTranslation('bookNow') }}
      </a></li>
      <li><a href="{{currentLanguage.code}}/aboutus">
        {{ getTranslation('aboutUs') }}
      </a></li>
      <li><a href="{{currentLanguage.code}}/services">
        {{ getTranslation('services') }}
      </a></li>
      <li><a href="{{currentLanguage.code}}/gallery">
        {{ getTranslation('gallery') }}
      </a></li>
      <li><a href="{{currentLanguage.code}}/contact">
        {{ getTranslation('contactUs') }}
      </a></li>
      <li><a href="{{currentLanguage.code}}/blogs">
        {{ getTranslation('blogs') }}
      </a></li>
    </ul>
  </div>
</nav>
