<!-- <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <a href="/">
          <img src="logos/logo_airporttransfer-min.png" alt="Logo" class="logo" />
        </a>
      </div>
      <ul class="navbar-menu">
        <li><a href="en/">Home</a></li>
        <li><a href="en/prices">Prices</a></li>
        <li><a href="en/reservation" class="book-now-button">Book Now</a></li>
        <li><a href="en/aboutus">About Us</a></li>
        <li><a href="en/services">Services</a></li>
        <li><a href="en/gallery">Gallery</a></li>
        <li><a href="en/contact">Contact</a></li>
        <li><a href="en/blog">Blogs</a></li>
      </ul>
    </div>
  </nav>
   -->
   <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <a href="/">
          <img src="logos/logo_airporttransfer-min.png" alt="Logo" class="logo" />
        </a>
      </div>
      <div class="hamburger-menu" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="navbar-menu" [class.open]="menuOpen">
        <li><a href="en/">Home</a></li>
        <li><a href="en/prices">Prices</a></li>
        <li><a href="en/reservation" class="book-now-button">Book Now</a></li>
        <li><a href="en/aboutus">About Us</a></li>
        <li><a href="en/services">Services</a></li>
        <li><a href="en/gallery">Gallery</a></li>
        <li><a href="en/contact">Contact</a></li>
        <li><a href="en/blog">Blogs</a></li>
      </ul>
    </div>
  </nav>
  