.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.reset-password-card {
    width: 400px;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.reset-password-card h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #007ad9;
}

.reset-password-card form {
    width: 100%;
}

.p-floatlabel {
    margin-top: 2rem;
}
