<div class="reset-password-container">
    <div class="reset-password-card">
        <h2>Reset Password</h2>
        <form [formGroup]="passwordResetConfirmForm" (ngSubmit)="onSubmit()">
            <p-floatlabel variant="on">
                <input [fluid]="true" pInputText type="password" id="new_password" formControlName="new_password" name="new_password" required>
                <label for="newPassword" class="p-col-fixed" style="width: 120px;">New Password</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
                <input [fluid]="true" pInputText type="password" id="confirm_password" formControlName="confirm_password" name="confirm_password" required>
                <label for="confirmPassword" class="p-col-fixed" style="width: 120px;">Confirm Password</label>
            </p-floatlabel>
            <button pButton type="submit" label="Reset Password" 
            style="margin-top:20px;"
            class="p-mt-3 p-button-rounded p-button-primary" 
            [disabled]="!passwordResetConfirmForm.valid"></button>
        </form>
    </div>
</div>
