
<app-super-header></app-super-header>
<app-navbar></app-navbar>

<div class="step-container">
  <div class="progress-bar">
    {{ translations.step_2_of_2[currentLanguage.code] }}:
    
  </div>
  <form [formGroup]="reservationForm" (ngSubmit)="submitForm()" class="reservation-form">

    <!-- hidden input id field -->
    <input type="hidden" formControlName="id" />

    <div class="form-group">
      <label for="pickup_full">
        {{ translations.from[currentLanguage.code] }}
      </label>
      <input id="pickup_full" type="text" formControlName="pickup_full" 
      placeholder="{{ translations.from_placeholder[currentLanguage.code] }}" 
      class="form-control" 
      appGmapsAutocomplete 
      (placeChanged)="onPickupPlaceChanged($event)" 
      (keydown)="preventFormSubmit($event)" 
      />
      <div *ngIf="formSubmitted && reservationForm.get('pickup_full')?.invalid" class="error-message">
        {{ translations.from_required[currentLanguage.code] }}
      </div>
    </div>

    <div class="form-group">
      <label for="dest_full">
        {{ translations.to[currentLanguage.code] }}
      </label>
      <input id="dest_full" type="text" formControlName="dest_full" 
      placeholder="{{ translations.to_placeholder[currentLanguage.code] }}" 
      class="form-control" 
      appGmapsAutocomplete
      (placeChanged)="onDestPlaceChanged($event)" 
      (keydown)="preventFormSubmit($event)"
      />
      <div *ngIf="formSubmitted && reservationForm.get('dest_full')?.invalid" class="error-message">
        {{ translations.to_required[currentLanguage.code] }}
      </div>
    </div>
    
    
    <!-- Show if both locations are selected AND price is successfully calculated -->
<div class="price-info" 
*ngIf="reservationForm.get('pickup_full')?.value && reservationForm.get('dest_full')?.value 
        && !priceCalculationFailed && reservationForm.get('amount')?.value">
{{ translations.estimatedPrice[currentLanguage.code] }}:
<strong>{{ reservationForm.get('amount')?.value }} {{ reservationForm.get('currency')?.value }}</strong>
</div>

<!-- Show if both locations are selected BUT price calculation failed -->
<div class="price-fallback" 
*ngIf="reservationForm.get('pickup_full')?.value && reservationForm.get('dest_full')?.value 
        && (priceCalculationFailed || !reservationForm.get('amount')?.value)">
<em>
{{ translations.priceFallback[currentLanguage.code] }}:
</em>
</div>

<!-- Show if one or both locations are missing -->
<div class="price-fallback" 
*ngIf="!reservationForm.get('pickup_full')?.value || !reservationForm.get('dest_full')?.value">
<em>
{{ translations.selectBothLocations[currentLanguage.code] }}:
</em>
</div>



    <div class="form-group">
      <label for="transfer_date">
      {{ translations.transfer_date[currentLanguage.code] }}:
        
      </label>
      <input id="transfer_date" type="date" formControlName="transfer_date" class="form-control" />
      <div *ngIf="formSubmitted && reservationForm.get('transfer_date')?.invalid" class="error-message">
        {{ translations.transfer_date_required[currentLanguage.code] }}
      </div>
    </div>

    <div class="form-group">
      <label for="transfer_time">
      {{ translations.transfer_time[currentLanguage.code] }}:

      </label>
      <input 
        id="transfer_time" 
        type="time" 
        formControlName="transfer_time" 
        class="form-control" 
        step="60" 
        min="00:00" 
        max="23:59" 
      />
      <div *ngIf="formSubmitted && reservationForm.get('transfer_time')?.invalid" class="error-message">
        {{ translations.transfer_time_required[currentLanguage.code] }}
      </div>
    </div>

    <div class="form-group">
      <label for="passenger_count">
        {{ translations.adult_count[currentLanguage.code] }}
      </label>
      <select id="passenger_count" formControlName="passenger_count" class="form-control">
        <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]" [value]="i">{{ i }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="passenger_count_child">
        {{ translations.child_count[currentLanguage.code] }}
      </label>
      <select id="passenger_count_child" formControlName="passenger_count_child" class="form-control">
        <option *ngFor="let i of [0,1,2,3,4,5]" [value]="i">{{ i }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="child_seat_count">
        {{ translations.child_seat[currentLanguage.code] }}
      </label>
      <select id="child_seat_count" formControlName="child_seat_count" class="form-control">
        <option *ngFor="let i of [0,1]" [value]="i">{{ i }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="note">
        {{ translations.note[currentLanguage.code] }}
      </label>
      <textarea id="note" formControlName="note" placeholder="{{ translations.any_special_requests[currentLanguage.code] }}" class="form-control"></textarea>
    </div>

    <div *ngIf="formSubmitted && reservationForm.invalid" class="global-error">
      <strong>
        {{ translations.form_validation[currentLanguage.code] }}
      </strong>
    </div>

    <button type="submit" class="submit-button" [disabled]="isSubmitting">
      {{ isSubmitting ? translations.submitting[currentLanguage.code] : translations.submit[currentLanguage.code] }}
    </button>
  </form>
</div>

<app-footer></app-footer>
