<div class="dropdown" (mouseleave)="closeDropdown()">
    <!-- Dropdown Button -->
    <button class="dropdown-button" (click)="toggleDropdown()">
      <span class="currency-sign">{{ this.currencyService.currentCurrency().sign }}</span>
      <span>{{ this.currencyService.currentCurrency().name }}</span>
      <i class="dropdown-arrow pi pi-chevron-down"></i>
    </button>
  
    <!-- Dropdown Menu -->
    <ul class="dropdown-menu" [class.show]="isDropdownVisible">
      <li
        *ngFor="let currency of supportedCurrencies"
        (click)="onCurrencySelect(currency)"
        class="dropdown-item"
      >
        <span class="currency-sign">{{ currency.sign }}</span>
        <span>{{ currency.name }}</span>
      </li>
    </ul>
  </div>
  