<p-panel>
    <form [formGroup]="rateForm" class="generic-form" (ngSubmit)="submitForm()">
        <div class="p-grid p-fluid">
            <input id="id" type="text" formControlName="id" hidden>
                <div class="p-col-12 p-float-label">
                    <p-floatlabel variant="on">
                        <p-select [fluid]="true" [options]="currencies" 
                            formControlName="currency_code" optionLabel="code"
                            optionValue="code" appendTo="body" id="currency_code">
                            <ng-template let-currency pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ currency.code }}</div>
                                </div>
                            </ng-template>
                        </p-select>
                        <label for="currency_code">Para Birimi*</label>
                    </p-floatlabel>
                </div>

            <div class="p-col-12 p-float-label">
                <p-floatlabel variant="on">
                    <p-inputnumber [fluid]="true" formControlName="euro_rate" inputId="minmaxfraction" mode="decimal"
                        [minFractionDigits]="4" [maxFractionDigits]="4" />
                    <label for="euro_rate">Euro Kuru</label>
                </p-floatlabel>
            </div>
            
            <div class="p-col-6 p-float-label">
                <button type="submit" pButton label="Save Changes" class="p-button-success"></button>
            </div>
            <div class="p-col-6" style="font-size: small;">
              <span class="required-fields">Yıldızlı alanlar zorunludur.</span>
            </div>
        </div>
    </form>
    <p-messages></p-messages>
</p-panel>