<div class="home-wrapper">

  <app-dev-env></app-dev-env>

  <app-super-header [langInput]="currentLanguage"></app-super-header>

  <app-navbar></app-navbar>

  <app-banner #banner [langInput]="currentLanguage"></app-banner>

  <!-- Price List for Airport Transfer in Turkey -->
  <!-- @defer (on idle) {
    <app-price-list 
      [langInput]="currentLanguage" 
    >
    </app-price-list>
  } @placeholder {
    <app-price-list 
      [langInput]="currentLanguage" 
      [loadForHomePagePlaceholder]="true"
      >
    </app-price-list>
  } -->
  <!-- <app-cta></app-cta> -->

  <!-- @defer (on idle) {
    <app-testimonial-list></app-testimonial-list>
  } @placeholder {
    <app-testimonial-list [loadForHomePagePlaceholder]="true"></app-testimonial-list>
  } -->

  <!-- <app-blog-list></app-blog-list> -->
  
  <!-- <app-footer></app-footer> -->

</div>