<div class="dropdown" (mouseleave)="closeDropdown()">
    <!-- Dropdown Button -->
    <button class="dropdown-button" (click)="toggleDropdown()">
      <img [src]="selectedLanguage.flag" [alt]="selectedLanguage.name + ' flag'" class="flag-icon" 
        style="width: 20px; height: 15px;"
        />
      <span>{{ selectedLanguage.name }}</span>
      <i class="dropdown-arrow pi pi-chevron-down"></i>
    </button>
    <!-- Dropdown Menu -->
    <ul class="dropdown-menu" [class.show]="isDropdownVisible">
      <li
        *ngFor="let lang of supportedLanguages"
        class="dropdown-item" 
        (click)="onLanguageSelect(lang)"
      >
      @if (lang.code) {
        <a [href]="lang.code + getTranslatedUrlWithoutLang(lang.code)" [attr.aria-label]="'Switch to ' + lang.name">
          <!-- <a [href]="lang.code" [attr.aria-label]="'Switch to ' + lang.name"> -->
          <img [src]="lang.flag" [alt]="lang.name + ' flag'" class="flag-icon" 
          style="width: 20px; height: 15px;"
          />
          {{ lang.name }}
        </a>

      } @else {
        <a [href]="lang.code + getTranslatedUrlWithoutLang(lang.code) + '/'" [attr.aria-label]="'Switch to ' + lang.name">
          <!-- <a [href]="lang.code" [attr.aria-label]="'Switch to ' + lang.name"> -->
          <img [src]="lang.flag" [alt]="lang.name + ' flag'" class="flag-icon" 
          style="width: 20px; height: 15px;"
          />
          {{ lang.name }}
        </a>

      }
      </li>
    </ul>
  </div>
  