<div class="dropdown" (mouseleave)="closeDropdown()">
    <!-- Dropdown Button -->
    <button class="dropdown-button" (click)="toggleDropdown()">
      <img [src]="selectedLanguage.flag" [alt]="selectedLanguage.name + ' flag'" class="flag-icon" />
      <span>{{ selectedLanguage.name }}</span>
      <i class="dropdown-arrow pi pi-chevron-down"></i>
    </button>
  
    <!-- Dropdown Menu -->
    <ul class="dropdown-menu" [class.show]="isDropdownVisible">
      <li
        *ngFor="let lang of supportedLanguages"
        (click)="onLanguageSelect(lang)"
        class="dropdown-item"
      >
      <a [href]="getTranslatedUrl(lang.code)" (click)="onLanguageSelect(lang)" [attr.aria-label]="'Switch to ' + lang.name">
        <img [src]="lang.flag" [alt]="lang.name + ' flag'" class="flag-icon" />
        {{ lang.name }}
      </a>
      </li>
    </ul>
  </div>
  