<div class="dropdown" (mouseleave)="closeDropdown()">
    <!-- Dropdown Button -->
    <button class="dropdown-button" (click)="toggleDropdown()">
      <img [src]="selectedLanguage.flag" [alt]="selectedLanguage.name + ' flag'" class="flag-icon" 
        style="width: 20px; height: 15px;"
        />
      <span>{{ selectedLanguage.name }}</span>
      <span class="dropdown-arrow" aria-hidden="true">
        <svg viewBox="0 0 12 8" focusable="false" aria-hidden="true">
          <path d="M1 1.5 6 6.5 11 1.5" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
    </button>
    <!-- Dropdown Menu -->
    <ul class="dropdown-menu" [class.show]="isDropdownVisible">
      <li
        *ngFor="let lang of supportedLanguages"
        class="dropdown-item" 
        (click)="onLanguageSelect(lang)"
      >
      @if (lang.code) {
        <a [href]="lang.code + getTranslatedUrlWithoutLang(lang.code)" [attr.aria-label]="'Switch to ' + lang.name">
          <!-- <a [href]="lang.code" [attr.aria-label]="'Switch to ' + lang.name"> -->
          <img [src]="lang.flag" [alt]="lang.name + ' flag'" class="flag-icon" 
          style="width: 20px; height: 15px;"
          />
          {{ lang.name }}
        </a>

      } @else {
        <a [href]="lang.code + getTranslatedUrlWithoutLang(lang.code) + '/'" [attr.aria-label]="'Switch to ' + lang.name">
          <!-- <a [href]="lang.code" [attr.aria-label]="'Switch to ' + lang.name"> -->
          <img [src]="lang.flag" [alt]="lang.name + ' flag'" class="flag-icon" 
          style="width: 20px; height: 15px;"
          />
          {{ lang.name }}
        </a>

      }
      </li>
    </ul>
  </div>
  
