<div class="home-wrapper">
    <app-super-header></app-super-header>
    <app-navbar></app-navbar>
    <div class="card flex justify-center">
        <p-stepper [(value)]="activeStep" class="basis-[50rem]">
            <p-step-list>
                <p-step [value]="1" [disabled]="activeStep !== 1">Destination</p-step>
                <p-step [value]="2" [disabled]="activeStep !== 2">Vehicle</p-step>
                <p-step [value]="3" [disabled]="activeStep !== 3">Personal</p-step>
            </p-step-list>
            <p-step-panels>
                <p-step-panel [value]="1">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div
                                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                            >
                                <!-- Destination -->

    <app-booking-initial-form (searchVehicle)="goToStep($event, 1, 2)"></app-booking-initial-form>

                            </div>
                            <!-- <div class="flex pt-6 justify-end">
                                <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
                            </div> -->
                        </div>
                    </ng-template>
                </p-step-panel>
      
                <p-step-panel [value]="2">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div
                                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                            >
                                <!-- Vehicle Selection -->

    <app-booking-car-type-selection-form (carTypeSelectionOutput)="goToStep($event, 2, 3)"></app-booking-car-type-selection-form>

                            </div>
                        </div>
                        <div class="flex pt-6 justify-between">
                            <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="goToStep($event, 2, 1)" />
                            <!-- <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" /> -->
                        </div>
                    </ng-template>
                </p-step-panel>
      
                <p-step-panel [value]="3">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div
                                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium"
                            >
                                <!-- Personal Info -->

    <app-booking-completion-form (previousStep)="goToStep($event, 3, 2)"></app-booking-completion-form>

                            </div>
                        </div>
                        <div class="flex pt-6 justify-start">
                            <!-- <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="goToStep($event, 3, 2)" /> -->
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-panels>
        </p-stepper>
      </div>

    
    <app-footer></app-footer>
</div>