<div class="banner">
  <picture>
    <!-- Extra small screens -->
    <source srcset="images/{{translations.banner.image.name[currentLanguage.code]}}" 
      media="(max-width: 480px)">
    <!-- Small screens -->
    <source srcset="images/{{translations.banner.imageM.name[currentLanguage.code]}}" 
      media="(max-width: 768px)">
    <!-- Medium screens -->
    <source srcset="images/{{translations.banner.image.name[currentLanguage.code]}}" 
      media="(min-width: 1200px)">
    <!-- Fallback img tag with alt -->
    <img 
      src="images/{{translations.banner.imageJpg.name[currentLanguage.code]}}" 
      alt="{{translations.banner.imageJpg.alt[currentLanguage.code]}}" 
      class="banner-image">
  </picture>

    <div class="banner-content">
      <h1 i18n="@@banner.title" class="banner-title">
        {{ getTranslation('banner.title') }}
      </h1>
      <p i18n="@@banner.subtitle" class="banner-subtitle">
        {{ getTranslation('banner.subtitle') }}
      </p>
    <ng-container *ngIf="isBrowser" >
      <app-booking-banner-form></app-booking-banner-form>
    </ng-container>
      <!-- <form class="reservation-form" (ngSubmit)="onSubmit()" 
        [formGroup]="bookingService.bookingInitialForm">
        <div class="form-group">
          <label for="pickup-location" i18n="@@form.pickup">Pickup Location</label>
          <input type="text" id="pickup-location" formControlName="pickup_full" placeholder="Enter your pickup location" 
          appGmapsAutocomplete
          (placeChanged)="onPickupPlaceChanged($event)" 
          (keydown)="preventFormSubmit($event)"
          />
        </div>
        <div class="form-group">
          <label for="dropoff-location" i18n="@@form.dropoff">Dropoff Location</label>
          <input type="text" id="dropoff-location" formControlName="dest_full" placeholder="Enter your dropoff location" 
          appGmapsAutocomplete
          (placeChanged)="onDestPlaceChanged($event)" 
          (keydown)="preventFormSubmit($event)"/>
        </div> -->
        <!-- <div class="form-group">
          <label for="pickup-date" i18n="@@form.date">Pickup Date</label>
          <input type="date" id="pickup-date" name="pickup-date" />
        </div>
        <div class="form-group">
          <label for="pickup-time" i18n="@@form.time">Pickup Time</label>
          <input type="time" id="pickup-time" name="pickup-time" />
        </div> -->
        <!-- <button (click)="onSubmit()" type="submit" class="btn btn-primary" i18n="@@form.submit">
          Book Now
        </button>
      </form> -->
    </div>

  </div>
  