
<div class="banner">
  <picture>
    <!-- Extra small screens -->
    <source srcset="images/{{translations.banner.imageS.name[currentLanguage.code]}}" 
      media="(max-width: 480px)">
    <!-- Small screens -->
    <source srcset="images/{{translations.banner.imageM.name[currentLanguage.code]}}" 
      media="(max-width: 768px)">
    <!-- Medium screens -->
    <source srcset="images/{{translations.banner.image.name[currentLanguage.code]}}" 
      media="(min-width: 1200px)">
    <!-- Fallback img tag with alt -->
    <img 
      src="images/{{translations.banner.imageS.name[currentLanguage.code]}}" 
      alt="{{translations.banner.imageJpg.alt[currentLanguage.code]}}" 
      class="banner-image"
      loading="lazy"
      width="480" height="768"> <!-- Adjust to real image size -->
  </picture>

    <div class="banner-content">
      <h1 i18n="@@banner.title" class="banner-title">
        {{ getTranslation('banner.title') }}

      </h1>
      <p i18n="@@banner.subtitle" class="banner-subtitle">
        {{ getTranslation('banner.subtitle') }}
      </p>
      
      <span class="banner-form">

        <app-booking-banner-form [langInput]="langInput"></app-booking-banner-form>
      </span>

      <div class="floating-buttons">
        
        <a href="{{ socialIcons.whatsapp.url }}" target="_blank">
          <img [src]="'images/socialicons/' + socialIcons.whatsapp.image.name[currentLanguage.code]" 
          [alt]="socialIcons.whatsapp.image.alt[currentLanguage.code]" 
          class="floating-chat whatsapp"
          /> 
        </a>
        
        <a href="{{ socialIcons.telegram.url }}" target="_blank">
          <img [src]="'images/socialicons/' + socialIcons.telegram.image.name[currentLanguage.code]" 
          [alt]="socialIcons.telegram.image.alt[currentLanguage.code]" 
          class="floating-chat telegram"
          /> 
        </a>
    </div>
      
    </div>

  </div>
  