<div class="home-wrapper">
    <app-super-header></app-super-header>
    <app-navbar></app-navbar>
<section class="gallery">
    <!-- Hero Section -->
     @if (currentLanguage.code == 'de') {
      <div class="gallery-hero">
        <h1 class="gallery-title">Unsere Galerie</h1>
        <p class="gallery-subtitle">
          Entdecken Sie unsere 24/7 private Flughafentransfer-Premiumflotte, Reiseziele und exzellenten Service. Erleben Sie Komfort, Zuverlässigkeit und Stil durch unsere Galerie.
        </p>
      </div>
      
    } @else if (currentLanguage.code == 'ru') {
      <div class="gallery-hero">
        <h1 class="gallery-title">Наша Галерея</h1>
        <p class="gallery-subtitle">
          Откройте для себя наш премиальный автопарк 24/7 частных трансферов из аэропорта, направления и исключительное обслуживание. Испытайте комфорт, надежность и стиль через нашу галерею.
        </p>
      </div>
      
    } @else if (currentLanguage.code == 'tr') {
      <div class="gallery-hero">
        <h1 class="gallery-title">GALERİ</h1>
        <p class="gallery-subtitle">
          7/24 özel havalimanı transferi premium filomuzu, destinasyonlarımızı ve olağanüstü hizmetimizi keşfedin. Konforu, güvenilirliği ve şıklığı galerimiz aracılığıyla deneyimleyin.
        </p>
      </div>
      
    } @else {
        <div class="gallery-hero">
          <h1 class="gallery-title">Our Gallery</h1>
          <p class="gallery-subtitle">
            Discover our 24/7 private airport transfer premium fleet, destinations, and exceptional service. Experience comfort, reliability, and style through our gallery.
           </p>
         </div>
      }
  
    <!-- Gallery Grid -->
    <div class="gallery-grid">
      <!-- Gallery Item 1 -->
       
      <a *ngFor="let image of GALLERY_IMAGES" 
        href="{{getLargeImagePath(image, currentLanguage.code)}}" 
        data-lightbox="gallery" 
        data-title="{{getImageDataTitle(image, currentLanguage.code)}}">
        <div class="gallery-item">
          <picture>
            <source srcset="{{getSmallImagePath(image, currentLanguage.code)}}" media="(max-width: 600px)">
            <source srcset="{{getSmallImagePath(image, currentLanguage.code)}}" media="(min-width: 601px)">
            <img src="{{getLargeImagePath(image, currentLanguage.code)}}" 
              alt="{{getImageAlt(image, currentLanguage.code)}}" loading="lazy" />
          </picture>
          <div class="gallery-caption">
            {{getImageCaption(image, currentLanguage.code)}}
          </div>
          <p>
            {{getImageDescription(image, currentLanguage.code)}}
          </p>
        </div>
      </a>
  
    </div>
  </section>
  
  <app-footer></app-footer>
</div>