<!-- CTA Section -->
<div class="cta-section">
    <h2 class="cta-title">
      {{ getTranslation('cta.title') }}
    </h2>
    <p class="cta-description">
      {{ getTranslation('cta.description') }}
    </p>
    <a href="{{currentLanguage.code}}/booking/" class="cta-button">
      {{ getTranslation('cta.button') }}
    </a>
  </div>
  
  <!-- USP Section -->
  <div class="usp-section">
    <h3 class="usp-header">
      {{ getTranslation('usp.header') }}
    </h3>
    <div class="usp-container">

      <div *ngFor="let usp of translations.usp.items" class="usp-item">
        <img src="images/ctas/{{usp.image.name[currentLanguage.code]}}" 
          alt="{{usp.image.alt[currentLanguage.code]}}" class="usp-icon" 
          style="width: 75px; height: 75px;"
          />
        <h3 class="usp-title">
          {{ usp.title[currentLanguage.code] }}
        </h3>
        <p class="usp-description">
          {{ usp.description[currentLanguage.code] }}
        </p>
      </div>

    </div>
  </div>
  