<div class="home-wrapper">
    <app-super-header></app-super-header>
    <app-navbar></app-navbar>

    <section class="contact-us">
        <!-- Hero Section -->
        <div class="contact-hero">
          <h1 class="contact-title">
              {{ translations[currentLanguage.code].contactUs }}
          </h1>
          <p class="contact-subtitle">
            {{ translations[currentLanguage.code].contactUsDescription }}
          </p>
        </div>
      
        <!-- Contact Information -->
        <div class="contact-info">
          <div class="contact-card">
            <i class="pi pi-map-marker"></i>
            <h3>
              {{ translations[currentLanguage.code].ourAddress }}
            </h3>
            <p>Konyaaltı Beach Road, No:8845, Antalya, Turkey</p>
          </div>
          <div class="contact-card">
            <i class="pi pi-phone"></i>
            <h3>
              {{ translations[currentLanguage.code].callUs }}
            </h3>
            <p>+90 123 456 7890</p>
          </div>
          <div class="contact-card">
            <i class="pi pi-envelope"></i>
            <h3>
              {{ translations[currentLanguage.code].email }}
            </h3>
            <p>info&#64;airporttransfer.com</p>
          </div>
        </div>
        <!-- Contact Form -->
        <div class="contact-form-wrapper">
          <h2 class="form-title">
            {{ translations[currentLanguage.code].getInTouch }}
          </h2>
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
            <div class="form-group">
              <label for="name">
                {{ translations[currentLanguage.code].yourName }}
              </label>
              <input type="text" id="name" formControlName="name" required />
            </div>
            <div class="form-group">
              <label for="email">
                {{ translations[currentLanguage.code].yourEmail }}
              </label>
              <input type="email" id="email" formControlName="email" required />
            </div>
            <div class="form-group">
              <label for="phone">
                {{ translations[currentLanguage.code].yourPhone }}
              </label>
              <input id="phone" formControlName="phone" />
            </div>
            <div class="form-group">
              <label for="message">
                {{ translations[currentLanguage.code].yourMessage }}
              </label>
              <textarea id="message" formControlName="message" rows="5" required></textarea>
            </div>
            <button pButton [loading]="isSending" type="submit" class="btn-submit">
              {{ translations[currentLanguage.code].submit }}
            </button>
            <p-message *ngIf="isSentSuccessfully"> {{ translations[currentLanguage.code].successMessage }}</p-message>
            <p-message severity="error" *ngIf="isSendingFailed && !isSentSuccessfully"> 
              {{ translations[currentLanguage.code].errorMessage }}
              <br />  
              <ul *ngIf="contactForm.errors || contactForm.invalid" class="form-errors">
                <li *ngIf="contactForm.get('name')?.hasError('required')">
                  {{ translations[currentLanguage.code].errors.nameRequired }}
                </li>
                <li *ngIf="contactForm.get('email')?.hasError('required')">
                  {{ translations[currentLanguage.code].errors.emailRequired }}
                </li>
                <li *ngIf="contactForm.get('email')?.hasError('email')">
                  {{ translations[currentLanguage.code].errors.invalidEmail }}
                </li>
                <li *ngIf="contactForm.get('message')?.hasError('required')">
                  {{ translations[currentLanguage.code].errors.messageRequired }}
                </li>
              </ul>
            </p-message>
          </form>
        </div>
        
        <!-- Map Section -->
        <div class="map-section">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.854546116825!2d30.715781615498443!3d36.89689087993374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c39bbd77bfa2fb%3A0x8ff21fcedb1efb65!2sAntalya%20Airport!5e0!3m2!1sen!2str!4v1701151025172!5m2!1sen!2str"
            width="100%"
            height="400"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </section>

      

    <app-footer></app-footer>
</div>