<section class="reservation-detail-page">
    <div class="container">
      <!-- Left Section: Reservation Details -->
      <div class="reservation-details">
        <h2>
          {{ translations.reservationDetails[this.languageService.currentLang().code] }}
        </h2>
        <img [src]="'images/cartypes/' + selectedCar?.image.name[languageService.currentLang().code]" 
          [alt]="selectedCar?.image.alt[languageService.currentLang().code]" class="car-image" />
        <p><strong>
          {{ translations.car[this.languageService.currentLang().code] }}
          :
        </strong> {{ selectedCar?.name }}</p>
        <p><strong>
          {{ translations.from[this.languageService.currentLang().code] }}
          :
        </strong> {{ fromLocation }}</p>
        <p><strong>
          {{ translations.to[this.languageService.currentLang().code] }}
          :
        </strong> {{ toLocation }}</p>
        <p *ngIf="distance > 0"><strong>
          {{ translations.distance[this.languageService.currentLang().code] }}
          :
        </strong> {{ distance }} km</p>
      </div>
  
      <!-- Right Section: Form -->
      <div class="reservation-form">
        <h2>
          {{ translations.completeYourReservation[this.languageService.currentLang().code] }}
        </h2>
        <form [formGroup]="bookingService.bookingCompletionForm" (ngSubmit)="onSubmit()">
          <!-- Travel and Flight Info -->
          <div class="form-group">
            <h3>
          {{ translations.travelAndFlightInfo[this.languageService.currentLang().code] }}
            </h3>
            <div class="form-row">
              <div class="form-item">
                <label for="transfer_date">          
                  {{ translations.transferDate[this.languageService.currentLang().code] }}
                </label>
                <input type="date" id="transfer_date" formControlName="transfer_date" />
                <p-message *ngIf="hasSubmitted && bookingService.bookingCompletionForm.get('transfer_date')?.invalid" 
                severity="error" variant="simple" size="small">
                {{ translations.fieldRequired[this.languageService.currentLang().code] }}
              </p-message>
              </div>
              <div class="form-item">
                <label for="transfer_time">
                {{ translations.transferTime[this.languageService.currentLang().code] }}
                </label>
                <p-datepicker inputId="calendar-timeonly" 
                  id="transfer_time" formControlName="transfer_time"
                  [timeOnly]="true"  dataType="string"/>

                <!-- <input type="time" id="transfer_time" formControlName="transfer_time" required /> -->
                <p-message *ngIf="hasSubmitted && bookingService.bookingCompletionForm.get('transfer_time')?.invalid" 
                severity="error" variant="simple" size="small">
                {{ translations.fieldRequired[this.languageService.currentLang().code] }}
              </p-message>
              </div>
              <div class="form-item">
                <label for="flight_number">
                {{ translations.flightNumber[this.languageService.currentLang().code] }}
                </label>
                <input type="text" id="flight_number" formControlName="flight_number" placeholder="e.g., TK1234" />
              </div>
            </div>

            <div class="toggle-switch-container">
              <span>
                {{ translations.returnTransfer[this.languageService.currentLang().code] }}
              </span>
              <p-toggleswitch formControlName="is_round_trip"></p-toggleswitch>
            </div>

            <div *ngIf="bookingService.bookingCompletionForm.get('is_round_trip')?.value">
              <div class="form-row">
                <div class="form-item">
                  <label for="return_transfer_date">
                {{ translations.returnTransferDate[this.languageService.currentLang().code] }}
                  </label>
                  <input type="date" id="return_transfer_date" formControlName="return_transfer_date" />
                </div>
                <div class="form-item">
                  <label for="return_transfer_time">
                {{ translations.returnTransferTime[this.languageService.currentLang().code] }}
                  </label>

                    <p-datepicker inputId="calendar-timeonly" 
                    id="return_transfer_time" formControlName="return_transfer_time"
                    [timeOnly]="true"  dataType="string"/>

                  <!-- <input type="time" id="return_transfer_time" formControlName="return_transfer_time" /> -->
                </div>
              </div>
            </div>
          </div>
  
          <!-- Personal Info -->
          <div class="form-group">
            <h3>
              {{ translations.personalInfo[this.languageService.currentLang().code] }}
            </h3>
            <div class="form-row">
              <div class="form-item">
                <label for="passenger_name">
              {{ translations.fullName[this.languageService.currentLang().code] }}
                </label>
                <input type="text" id="passenger_name" formControlName="passenger_name" placeholder="{{ translations.fullName[this.languageService.currentLang().code] }}" required />
                <p-message *ngIf="hasSubmitted && bookingService.bookingCompletionForm.get('passenger_name')?.invalid" 
                severity="error" variant="simple" size="small">
                {{ translations.fieldRequired[this.languageService.currentLang().code] }}
              </p-message>
              </div>
              <div class="form-item">
                <label for="passenger_email">
                  {{ translations.email[this.languageService.currentLang().code] }}
                </label>
                <input type="email" id="passenger_email" formControlName="passenger_email" placeholder="{{ translations.email[this.languageService.currentLang().code] }}" />
              </div>
              <div class="form-item">
                <label for="passenger_phone">
                  {{ translations.phone[this.languageService.currentLang().code] }}
                </label>
                <input type="tel" id="passenger_phone" 
                  formControlName="passenger_phone" placeholder="{{ translations.primaryPhone[this.languageService.currentLang().code] }}" required />
                <p-message *ngIf="hasSubmitted && bookingService.bookingCompletionForm.get('passenger_phone')?.invalid" 
                severity="error" variant="simple" size="small">
                {{ translations.fieldRequired[this.languageService.currentLang().code] }}
              </p-message>
              </div>
              <div class="form-item">
                <label for="passenger_additional_phone">
                {{ translations.additionalPhone[this.languageService.currentLang().code] }}
                </label>
                <input type="tel" id="passenger_additional_phone" 
                formControlName="passenger_additional_phone" placeholder="{{ translations.additionalPhone[this.languageService.currentLang().code] }}" />
              </div>
              <div class="form-item">
                <label for="passenger_count">
                  {{ translations.passengerCount[this.languageService.currentLang().code] }}
                  :
                </label>
                <p-inputnumber formControlName="passenger_count" 
                    [showButtons]="true" 
                    buttonLayout="horizontal" 
                    spinnerMode="horizontal" 
                    [min]="0" [max]="20"
                    [inputStyle]="{ width: '5rem' }">
                  <ng-template #incrementbuttonicon>
                    <span class="custom-icon">+</span>
                  </ng-template>
                  <ng-template #decrementbuttonicon>
                    <span class="custom-icon">-</span>
                  </ng-template>
                </p-inputnumber>
              </div>
              <div class="form-item">
                <label for="passenger_count_child">
                  {{ translations.childCount[this.languageService.currentLang().code] }}
                   (1-7 
                  {{ translations.yearsOld[this.languageService.currentLang().code] }}
                  ):
                </label>
                <p-inputnumber 
                  formControlName="passenger_count_child" 
                  [showButtons]="true" 
                  buttonLayout="horizontal" 
                  spinnerMode="horizontal" 
                  [min]="0" [max]="9"
                  [inputStyle]="{ width: '5rem' }">
                  <ng-template #incrementbuttonicon>
                    <span class="custom-icon">+</span>
                  </ng-template>
                  <ng-template #decrementbuttonicon>
                    <span class="custom-icon">-</span>
                  </ng-template>
                </p-inputnumber>
              </div>
            </div>
          </div>
  

          <!-- Extra Services -->
          <div class="form-group">
            <h3>
              {{ translations.extraServices[this.languageService.currentLang().code] }}
            </h3>

            <div class="toggle-switch-container">
              <span>
                {{ translations.needChildSeat[this.languageService.currentLang().code] }}
              </span>
            <div>
              {{ translations.childSeatPricePerUnit[this.languageService.currentLang().code] }}
            </div>

              <p-toggleswitch 
                formControlName="need_child_seat" 
                (onChange)="needChildSeatToggleChanged($event)"
                ></p-toggleswitch>
              <p-inputnumber 
                *ngIf="this.bookingService.bookingCompletionForm.value.need_child_seat" 
                formControlName="child_seat_count" 
                [showButtons]="true" 
                buttonLayout="horizontal" 
                spinnerMode="horizontal" 
                [min]="0" [max]="9"
                [inputStyle]="{ width: '3rem' }" 
                (onInput)="childSeatCountChanged($event)">
                >
                {{childSeatPrice()}}
                <ng-template #incrementbuttonicon>
                  <span class="custom-icon">+</span>
                </ng-template>
                <ng-template #decrementbuttonicon>
                  <span class="custom-icon">-</span>
                </ng-template>
              </p-inputnumber>
            </div>
            
          <!-- Greeting with Flower -->
          <div class="toggle-switch-container">
            <span>
              {{ translations.greetingWithFlower[this.languageService.currentLang().code] }}
            </span> 
            <div>+15 €</div>

            <p-toggleswitch 
              formControlName="greet_with_flower" 
              (onChange)="calculateFlowerPrice()"
              ></p-toggleswitch>
          </div>

          <!-- Greeting with Champagne -->
          <div class="toggle-switch-container">
            <span>
              {{ translations.greetingWithChampagne[this.languageService.currentLang().code] }}
            </span>
            <div>+25 €</div>
            <p-toggleswitch 
              formControlName="greet_with_champagne" 
              (onChange)="calculateChampagnePrice()"
              ></p-toggleswitch>
          </div>

            <div class="form-item">
              <label for="note">
                {{ translations.note[this.languageService.currentLang().code] }}
              </label>
              <textarea id="note" formControlName="note" rows="3" 
                placeholder="{{ translations.notePlaceholder[this.languageService.currentLang().code] }}"></textarea>
            </div>
          </div>


          <!-- Payment Information -->
<div class="form-group">
  <h3>
    {{ translations.payment[this.languageService.currentLang().code] }}
  </h3>
  <div class="payment-info">
    <!-- Single Trip -->
    <ng-container *ngIf="!bookingService.bookingCompletionForm.get('is_round_trip')?.value; else roundTrip">
      <div class="price-breakdown">
        <div class="price-row">
          <span class="price-label">
            {{ translations.basePrice[this.languageService.currentLang().code] }}
            :
          </span>
          <span class="price-value">{{ price! }} {{ currency?.sign }}</span>
        </div>
        <div class="price-row" *ngIf="childSeatPrice() > 0">
          <span class="price-label">
            {{ translations.firstTripChildSeatPrice[this.languageService.currentLang().code] }}:</span>
          <span class="price-value">{{ childSeatPrice() }} {{ currency?.sign }}</span>
        </div>
        <div class="price-row" *ngIf="flowerPrice() > 0">
          <span class="price-label">
            {{ translations.flowerPrice[this.languageService.currentLang().code] }}:</span>
          <span class="price-value">{{ flowerPrice() }} {{ currency?.sign }}</span>
        </div>
        <div class="price-row" *ngIf="champagnePrice() > 0">
          <span class="price-label">
            {{ translations.champagnePrice[this.languageService.currentLang().code] }}:</span>
          <span class="price-value">{{ champagnePrice() }} {{ currency?.sign }}</span>
        </div>
      </div>
      <div class="total-price-container">
        <strong class="total-price">
          {{ translations.total[this.languageService.currentLang().code] }}: 
          {{ price + childSeatPrice() + champagnePrice() + flowerPrice() }} {{ currency?.sign }}
        </strong>
      </div>
    </ng-container>

    <!-- Round Trip -->
    <ng-template #roundTrip>
      <div class="price-breakdown">
      <div class="price-row">
        <span class="price-label">
          {{ translations.firstTripBasePrice[this.languageService.currentLang().code] }}:</span>
        <span class="price-value">{{ price! }} {{ currency?.sign }}</span>
      </div>
      <div class="price-row" *ngIf="childSeatPrice() > 0">
        <span class="price-label">
          {{ translations.firstTripChildSeatPrice[this.languageService.currentLang().code] }}:</span>
        <span class="price-value">{{ childSeatPrice() }} {{ currency?.sign }}</span>
      </div>
      <div class="price-row" *ngIf="flowerPrice() > 0">
        <span class="price-label">
          {{ translations.flowerPrice[this.languageService.currentLang().code] }}:</span>
        <span class="price-value">{{ flowerPrice() }} {{ currency?.sign }}</span>
      </div>
      <div class="price-row" *ngIf="champagnePrice() > 0">
        <span class="price-label">
          {{ translations.champagnePrice[this.languageService.currentLang().code] }}:</span>
        <span class="price-value">{{ champagnePrice() }} {{ currency?.sign }}</span>
      </div>
      <div class="price-row">
        <span class="price-label">
          {{ translations.secondTripBasePrice[this.languageService.currentLang().code] }}:</span>
        <span class="price-value">{{ price! }} {{ currency?.sign }}</span>
      </div>
      <div class="price-row" *ngIf="childSeatPrice() > 0">
        <span class="price-label">
          {{ translations.secondTripChildSeatPrice[this.languageService.currentLang().code] }}:</span>
        <span class="price-value">{{ childSeatPrice() }} {{ currency?.sign }}</span>
      </div>
    </div>
    
      <div class="total-price-container">
        <strong class="total-price">
          {{ translations.total[this.languageService.currentLang().code] }}: 
          {{ price * 2 + childSeatPrice() * 2 + flowerPrice() + champagnePrice() }} {{ currency?.sign }}
        </strong>
      </div>
    </ng-template>

    <p class="note">
      <strong>

        {{ translations.paymentNote[this.languageService.currentLang().code] }}
      </strong>
    </p>
  </div>
</div>

          <!-- Complete Reservation -->
          <div class="form-actions">
            <p-message *ngIf="hasSubmitted && bookingService.bookingCompletionForm.invalid" 
            severity="info" variant="simple" size="small">
            {{ translations.formError[this.languageService.currentLang().code] }}
          </p-message>
            <button pButton [loading]="isSaving" type="submit" class="btn-complete">
            {{ translations.completeReservation[this.languageService.currentLang().code] }}
            </button>
            <button [hidden]="stepFromUrl == 3" type="button" class="btn-back" 
              (click)="goToPreviousStep()">
              {{ translations.back[this.languageService.currentLang().code] }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
  