<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="login-page">
    <div class="login-container">
      <h1>Giriş Yap</h1>

      <p-floatlabel variant="in">
        <input id="email" [fluid]="true" type="email" pInputText formControlName="email" email
          style="margin: 0 0 1rem 0;" />
        <label for="email">Kullanıcı Adı (E-mail)</label>
      </p-floatlabel>

      <p-floatlabel variant="in">
        <p-password [fluid]="true" [feedback]="false" 
          [toggleMask]="true" id="password" formControlName="password" />
        <label for="password">Şifre</label>
      </p-floatlabel>

      <button class="register-button" pButton [loading]="loading" [fluid]="true" type="submit" label="Giriş Yap">
      </button>

      <div class="links">
        <p-button [fluid]="true" pButton [outlined]="true" 
          label="Üye Değilseniz Kayıt Olunuz" class="p-button-link"
          (click)="onRegister()" [outlined]="true">
        </p-button>

        <p-button [fluid]="true" pButton [outlined]="true"
          label="Şifremi unuttum" class="p-button-link"
          (click)="onGoToPasswordReset()">
        </p-button>

        <p-button [fluid]="true" pButton [outlined]="true"
          label=" Ana Sayfaya Dön" class="p-button-link"
          icon="pi pi-home" (click)="onBackToMain()">
        </p-button>
        @for (message of messages(); track message; let first = $first) {
          <p-message [severity]="message.severity" [text]="message.content" [ngClass]="{ 'mt-4': !first }" />
        }
        <p-toast [life]="10000"></p-toast>
      </div>
    </div>
  </div>
</form>