.generic-form {
  width: 100%;
}

.p-panel {
  margin-bottom: 20px;
}

.p-floatlabel {
  width: 100%;
  margin-top: 2rem;
}

.p-button-success {
  width: 100%;
  margin-top: 10px;
}

.p-select {
  min-width: 230px;
}
