<footer class="site-footer">
  <div class="footer-top">
    <div class="footer-column">
      <h4 class="footer-title">{{ getTranslation('contactus') }}</h4>
      <p>
        <img [src]="'images/socialicons/' + socialIcons.location.image.name[currentLanguage.code]" 
                    [alt]="socialIcons.location.image.alt[currentLanguage.code]" 
                    style="max-height: 20px; width: 20px; height: 20px;"/> 
        {{ socialIcons.location.address[currentLanguage.code] }} 
      </p>
      <p>
        
        <img [src]="'images/socialicons/' + socialIcons.phone.image.name[currentLanguage.code]" 
                    [alt]="socialIcons.phone.image.alt[currentLanguage.code]" 
                    style="max-height: 20px; width: 20px; height: 20px;"/> 
        {{ socialIcons.phone.formatted }} 
      </p>
      <p>
        <img [src]="'images/socialicons/' + socialIcons.email.image.name[currentLanguage.code]" 
                    [alt]="socialIcons.email.image.alt[currentLanguage.code]" 
                    style="max-height: 20px; width: 20px; height: 20px;"/>  
        {{ socialIcons.email.info }} 
      </p>
    </div>
    <div class="footer-column">
      <h4 class="footer-title">{{ getTranslation('quicklinks') }}</h4>
      <ul class="footer-links">
        <li><a href="{{currentLanguage.code}}/">{{ getTranslation('home') }}</a></li>
        <li><a href="{{currentLanguage.code}}/{{navbarMenu.aboutUs.slug[currentLanguage.code]}}/">{{ getTranslation('aboutus') }}</a></li>
        <li><a href="{{currentLanguage.code}}/{{navbarMenu.services.slug[currentLanguage.code]}}/">{{ getTranslation('ourservices') }}</a></li>
        <li><a href="{{currentLanguage.code}}/{{navbarMenu.gallery.slug[currentLanguage.code]}}/">{{ getTranslation('gallery') }}</a></li>
        <li><a href="{{currentLanguage.code}}/{{navbarMenu.contactUs.slug[currentLanguage.code]}}/">{{ getTranslation('contact') }}</a></li>
        <li><a href="{{currentLanguage.code}}/{{navbarMenu.blogs.slug[currentLanguage.code]}}/">{{ getTranslation('blog') }}</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4 class="footer-title">{{ getTranslation('allLanguages') }}</h4>
      <ul class="footer-links">
        <li (click)="onLanguageSelect('en')"><a href="en/">English</a></li>
        <li (click)="onLanguageSelect('de')"><a href="de/">Deutsch</a></li>
        <li (click)="onLanguageSelect('ru')"><a href="ru/">Русский</a></li>
        <li (click)="onLanguageSelect('tr')"><a href="tr/">Türkçe</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4 class="footer-title">{{ getTranslation('followus') }}</h4>
      <div class="social-icons">
        <!-- <a href="https://facebook.com" aria-label="Facebook">
          <i class="pi pi-facebook"></i>
        </a>
        <a href="https://twitter.com" aria-label="Twitter">
          <i class="pi pi-twitter"></i>
        </a>
        <a href="https://instagram.com" aria-label="Instagram">
          <i class="pi pi-instagram"></i>
        </a>
        <a href="https://linkedin.com" aria-label="LinkedIn">
          <i class="pi pi-linkedin"></i>
        </a> -->
        <a href="{{socialIcons.instagram.url}}"  
                [attr.aria-label]="socialIcons.instagram.anchor.ariaLabel[currentLanguage.code]" 
                target="_blank" rel="noopener">
                <img [src]="'images/socialicons/' + socialIcons.instagram.image.name[currentLanguage.code]" 
                    [alt]="socialIcons.instagram.image.alt[currentLanguage.code]" 
                    style="max-height: 20px; width: 20px; height: 20px;"/> 
            </a>
            <a href="{{socialIcons.facebook.url}}"  
                [attr.aria-label]="socialIcons.facebook.anchor.ariaLabel[currentLanguage.code]" 
                target="_blank" rel="noopener">
                <img [src]="'images/socialicons/' + socialIcons.facebook.image.name[currentLanguage.code]" 
                    [alt]="socialIcons.facebook.image.alt[currentLanguage.code]" 
                    style="max-height: 20px; width: 20px; height: 20px;"/> 
            </a>
            <a href="{{socialIcons.tiktok.url}}"  
                [attr.aria-label]="socialIcons.tiktok.anchor.ariaLabel[currentLanguage.code]" 
                target="_blank" rel="noopener">
                <img [src]="'images/socialicons/' + socialIcons.tiktok.image.name[currentLanguage.code]" 
                    [alt]="socialIcons.tiktok.image.alt[currentLanguage.code]" 
                    style="max-height: 20px; width: 20px; height: 20px;"/> 
            </a>
            <a href="{{socialIcons.twitter.url}}"  
                [attr.aria-label]="socialIcons.twitter.anchor.ariaLabel[currentLanguage.code]" 
                target="_blank" rel="noopener">
                <img [src]="'images/socialicons/' + socialIcons.twitter.image.name[currentLanguage.code]" 
                    [alt]="socialIcons.twitter.image.alt[currentLanguage.code]" 
                    style="max-height: 20px; width: 20px; height: 20px;"/> 
            </a>
            <a href="{{socialIcons.youtube.url}}"  
                [attr.aria-label]="socialIcons.youtube.anchor.ariaLabel[currentLanguage.code]" 
                target="_blank" rel="noopener">
                <img [src]="'images/socialicons/' + socialIcons.youtube.image.name[currentLanguage.code]" 
                    [alt]="socialIcons.youtube.image.alt[currentLanguage.code]" 
                    style="max-height: 20px; width: 20px; height: 20px;"/> 
            </a>

            <a href="{{socialIcons.vKontakte.url}}"  
                [attr.aria-label]="socialIcons.vKontakte.anchor.ariaLabel[currentLanguage.code]" 
                target="_blank" rel="noopener">
                <img [src]="'images/socialicons/' + socialIcons.vKontakte.image.name[currentLanguage.code]" 
                    [alt]="socialIcons.vKontakte.image.alt[currentLanguage.code]" 
                    style="max-height: 20px; width: 20px; height: 20px;"/> 
            </a>
            
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Airport Transfer Hub {{ getTranslation('allRightsReserved') }}</p>
    <p>
        <a href="{{currentLanguage.code}}/{{navbarMenu.privacyPolicy.slug[currentLanguage.code]}}/">{{ navbarMenu.privacyPolicy.name[currentLanguage.code] }}</a> | 
      <a href="{{currentLanguage.code}}/{{navbarMenu.termsOfService.slug[currentLanguage.code]}}/">{{ navbarMenu.termsOfService.name[currentLanguage.code] }}</a>
    </p>
  </div>
</footer>
