<p-toast></p-toast>
<p-card [header]="copy.cardTitle">
  <form [formGroup]="form" (ngSubmit)="submit()" class="profile-form">
    <div class="grid">
      <div class="col field">
        <label for="first_name">{{ copy.labels.firstName }}</label>
        <input pInputText id="first_name" formControlName="first_name" autocomplete="given-name" />
        <span class="error-message" *ngIf="form.get('first_name')?.hasError('required') && form.get('first_name')?.touched">
          {{ copy.errors.firstNameRequired }}
        </span>
        <span class="error-message" *ngIf="serverErrors()['first_name']">
          {{ serverErrors()['first_name'] }}
        </span>
      </div>
      <div class="col field">
        <label for="last_name">{{ copy.labels.lastName }}</label>
        <input pInputText id="last_name" formControlName="last_name" autocomplete="family-name" />
        <span class="error-message" *ngIf="serverErrors()['last_name']">
          {{ serverErrors()['last_name'] }}
        </span>
      </div>
    </div>
    <div class="field">
      <label for="phone_e164">{{ copy.labels.phone }}</label>
      <ngx-intl-tel-input
        id="phone_e164"
        class="ngx-intl-tel-input"
        [preferredCountries]="preferredCountries"
        [searchCountryFlag]="true"
        [searchCountryField]="searchFields"
        [enableAutoCountrySelect]="false"
        [selectFirstCountry]="false"
        [enablePlaceholder]="true"
        [separateDialCode]="true"
        [selectedCountryISO]="selectedCountryISO"
        [phoneValidation]="false"
        formControlName="phone_e164"
      ></ngx-intl-tel-input>
      <span class="error-message" *ngIf="serverErrors()['phone_e164']">
        {{ serverErrors()['phone_e164'] }}
      </span>
    </div>
    <div class="field">
      <label for="preferred_language">{{ copy.labels.preferredLanguage }}</label>
      <p-select
        inputId="preferred_language"
        [options]="languages"
        optionLabel="label"
        optionValue="code"
        formControlName="preferred_language"
      ></p-select>
      <span class="error-message" *ngIf="serverErrors()['preferred_language']">
        {{ serverErrors()['preferred_language'] }}
      </span>
    </div>
    <div class="field checkbox">
      <p-checkbox inputId="marketing_opt_in" binary="true" formControlName="marketing_opt_in"></p-checkbox>
      <label for="marketing_opt_in">{{ copy.labels.marketing }}</label>
    </div>
    <button
      type="submit"
      pButton
      [label]="copy.submitIdle"
      [loading]="loading()"
      [disabled]="form.invalid || loading()"
      class="w-full md:w-auto"
    ></button>
  </form>
</p-card>
