<section class="booking">
  
    <!-- Booking Form -->
    <form [formGroup]="bookingService.bookingInitialForm" (ngSubmit)="onSubmit()" class="booking-form">
      <div class="form-row">
        <div class="form-group" [class.invalid]="hasSubmitted && bookingService.bookingInitialForm.get('pickup_full')?.invalid">
          <label for="pickup_full">
            {{ translations.from[this.languageService.currentLang().code] }}
          </label>
          <input
            type="text"
            id="pickup_full"
            placeholder="{{ translations.from_placeholder[this.languageService.currentLang().code] }}"
            formControlName="pickup_full"
            appGmapsAutocomplete
            (placeChanged)="onPickupPlaceChanged($event)" 
            (keydown)="preventFormSubmit($event)"
          />
          <p *ngIf="hasSubmitted && bookingService.bookingInitialForm.get('pickup_full')?.invalid" class="field-error">
            {{ translations.from_required[this.languageService.currentLang().code] }}
          </p>
        </div>
        <div class="form-group" [class.invalid]="hasSubmitted && bookingService.bookingInitialForm.get('dest_full')?.invalid">
          <label for="dest_full">
            {{ translations.to[this.languageService.currentLang().code] }}
            
          </label>
          <input
            type="text"
            id="dest_full"
            placeholder="{{ translations.to_placeholder[this.languageService.currentLang().code] }}"
            formControlName="dest_full"
            appGmapsAutocomplete
            (placeChanged)="onDestPlaceChanged($event)" 
            (keydown)="preventFormSubmit($event)"
          />
          <p *ngIf="hasSubmitted && bookingService.bookingInitialForm.get('dest_full')?.invalid" class="field-error">
            {{ translations.to_required[this.languageService.currentLang().code] }}
          </p>
        </div>
      </div>

      <div *ngIf="hasSubmitted && bookingService.bookingInitialForm.invalid" class="error-message">
      @if (languageService.currentLang().code == 'de') {
        <p class="error-title">Konnte Ihr gewünschtes Ziel nicht gefunden werden?</p>
        <p class="error-text">
          Kein Problem! Kontaktieren Sie uns, und wir helfen Ihnen, die beste Transferoption zu finden. Wählen Sie eine der unten stehenden Optionen, um uns zu erreichen:
        </p>
        <ul class="contact-options">
          <li>
            <strong>WhatsApp:</strong> <a href="{{ socialIcon.whatsapp.url }}" target="_blank">{{ socialIcon.phone.formatted }}</a>
          </li>
          <li>
            <strong>Telegram:</strong> <a href="{{ socialIcon.telegram.url }}" target="_blank">&#64;{{ socialIcon.telegram.username }}</a>
          </li>
          <li>
            <strong>Telefon:</strong> <a href="tel:{{ socialIcon.phone.number }}">{{ socialIcon.phone.formatted }}</a>
          </li>
          <li>
            <strong>Email:</strong> <a href="mailto:{{ socialIcon.email.support }}">{{ socialIcon.email.support }}</a>
          </li>
        </ul>
      } @else if (languageService.currentLang().code == 'ru') {
        <p class="error-title">Не можете найти нужное направление?</p>
        <p class="error-text">
          Не проблема! Свяжитесь с нами, и мы поможем вам найти лучший вариант трансфера. Выберите любой из вариантов ниже, чтобы связаться с нами:
        </p>
        <ul class="contact-options">
          <li>
            <strong>WhatsApp:</strong> <a href="{{ socialIcon.whatsapp.url }}" target="_blank">{{ socialIcon.phone.formatted }}</a>
          </li>
          <li>
            <strong>Telegram:</strong> <a href="{{ socialIcon.telegram.url }}" target="_blank">&#64;{{ socialIcon.telegram.username }}</a>
          </li>
          <li>
            <strong>Телефон:</strong> <a href="tel:{{ socialIcon.phone.number }}">{{ socialIcon.phone.formatted }}</a>
          </li>
          <li>
            <strong>Email:</strong> <a href="mailto:{{ socialIcon.email.support }}">{{ socialIcon.email.support }}</a>
          </li>
        </ul>
      } @else if (languageService.currentLang().code == 'tr') {
        <p class="error-title">Aradığınız konumu bulamadınız mı?</p>
        <p class="error-text">
          Sorun değil! Bize ulaşın, size en iyi transfer seçeneğini bulmanızda yardımcı olalım. Bize ulaşmak için aşağıdaki seçeneklerden birini tercih edebilirsiniz:
        </p>
        <ul class="contact-options">
          <li>
            <strong>WhatsApp:</strong> <a href="{{ socialIcon.whatsapp.url }}" target="_blank">{{ socialIcon.phone.formatted }}</a>
          </li>
          <li>
            <strong>Telegram:</strong> <a href="{{ socialIcon.telegram.url }}" target="_blank">&#64;{{ socialIcon.telegram.username }}</a>
          </li>
          <li>
            <strong>Telefon:</strong> <a href="tel:{{ socialIcon.phone.number }}">{{ socialIcon.phone.formatted }}</a>
          </li>
          <li>
            <strong>Email:</strong> <a href="mailto:{{ socialIcon.email.support }}">{{ socialIcon.email.support }}</a>
          </li>
        </ul>
      } @else {
        <p class="error-title">Couldn't find your desired location?</p>
        <p class="error-text">
          No problem! Contact us, and we will assist you in finding the best transfer option. Choose any of the options below to reach us:
        </p>
        <ul class="contact-options">
          <li>
            <strong>WhatsApp:</strong> <a href="{{ socialIcon.whatsapp.url }}" target="_blank">{{ socialIcon.phone.formatted }}</a>
          </li>
          <li>
            <strong>Telegram:</strong> <a href="{{ socialIcon.telegram.url }}" target="_blank">&#64;{{ socialIcon.telegram.username }}</a>
          </li>
          <li>
            <strong>Phone:</strong> <a href="tel:{{ socialIcon.phone.number }}">{{ socialIcon.phone.formatted }}</a>
          </li>
          <li>
            <strong>Email:</strong> <a href="mailto:{{ socialIcon.email.support }}">{{ socialIcon.email.support }}</a>
          </li>
        </ul>
      }
    </div>

      <div class="form-actions">
        <button type="submit" class="btn-submit" 
        >
        {{ translations.search[this.languageService.currentLang().code] }}
        
      </button>
      </div>
    </form>
    
    <!-- Hero Section -->
    <div class="booking-hero">
      <h1 class="booking-title">
        {{ translations.book_your_transfer[this.languageService.currentLang().code] }}
        
      </h1>
      <p class="booking-subtitle">
        {{ translations.description[this.languageService.currentLang().code] }}

      </p>
    </div>
  </section>
  